main{
    display:flex; /* */
    width: 100vw;  /* Altura */
    height: 100vh; /* Largura */
    justify-content: center; /* alinha os itens*/
    align-items: center; /* controla o alinhamento de todos os itens no eixo transversal. */
}

.fundo{
    background-color: black; /* cor de fundo*/
    margin: 0%; /* margem*/
}
.quadrado{
    display:flex;
    flex-direction: column; /* linha reversa */
    background: rgb(255,198,0);
    width: 360px;
    height: 600px;
    align-items: center;
      justify-content: space-evenly; /* é empregada para alinhar os elementos ao longo do eixo principal, cuja direção ( row ou column ) é definida a partir da propriedade flex-direction */
      border-radius: 20px; /* destina-se a definir bordas arredondadas */
      box-shadow: 0 0 10px black; /* é uma propriedade do CSS, é utilizado para adicionar efeitos de sombra em volta de um elemento */
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 2.5rem serif; /* fonte */
    border-bottom: solid 5px black; /* é um shortcut para definir diversas propriedades da borda de baixo (bottom) ao mesmo tempo */
    margin-bottom: 20px; /* define a margin area na parte inferior de um elemento */
}

 .input{ 
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.input input{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: 0; /* contorno */
    font: bold 1.5rem serif;
    text-align: center; /* descreve como conteúdo inline, como texto, é alinhado no elemento pai em bloco */
}
.input label{
    font: bold 1.5rem serif;
}
button{
    width: 300px;
    height: 40px;
    font:bold 1.2rem serif;
    background: #000;
    color: rgb(255,198,0);
    outline: none;
    border-radius: 5px;
    cursor: pointer /*especifica o cursor do mouse mostrado quando o ponteiro do mouse está sobre um elemento*/
}
.result{
    display: flex;
    margin-top: 20px; /* indica o espaço acima do elemento */
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font:italic 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: #000;
    color: rgb(255,198,0);
    pangddi: 20px; /* dicionário*/
    box-sizing: border-box; /*é utilizada para alterar a propriedade padrão da box model, usada para calcular larguras (widths) e alturas (heights) dos elementos */
    user-select: none; /* seleção do usuário */
}